<div class="container">
  <mat-card class="card">
    <mat-card-title>Component 1</mat-card-title>
    <mat-card-actions >
      <div class="box-container">
        <div class="counter-name">Counter 1</div>
        <div class="box"
             [ngClass]="{'box-red': (counter1 !== undefined ? counter1 < 0 : false),
                       'box-blue': (counter1 !== undefined ? counter1 > 0 : false)}"
        >
          {{ counter1 }}
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

