<div class="container">
  <mat-card class="card">
    <mat-card-title>Component 1</mat-card-title>
    <mat-card-actions class="center">
      <button mat-raised-button color="primary" [disabled]="isStarted" (click)="start()">Start</button>
      <button mat-raised-button color="accent" (click)="stop()">Stop</button>
      <button mat-raised-button color="warn" (click)="reset()">Reset</button>
    </mat-card-actions>
  </mat-card>

  <app-component2 [counter1]="counter1" [counter2] = counter2></app-component2>
</div>

