<div class="container">
  <mat-card class="card">
    <mat-card-title>Component 2</mat-card-title>
    <mat-card-actions >
      <div class="box-container">
        <div class="counter-name">Counter 2</div>
        <div class="box"
             [ngClass]="{'box-red': (counter2 !== undefined ? counter2 < 0 : false),
                       'box-blue': (counter2 !== undefined ? counter2 > 0 : false)}"
        >
          {{ counter2 }}
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

